.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

.classpath
.project
.settings
.idea
*.iml

*.log
logs/
hs_err_pid*

.DS_Store
thumbs.db

.env
.env.local
.env.*.local
local.properties

out/
*.zip
node_modules/
.cache

test.sh
